
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body{
  background-color: rgb(62, 186, 217);
}


.border{
  position: relative;
  border: 1px solid rgb(247, 34, 34);
  width: 70%;
  margin-top: 10%;

}
th{
  height: 30px;
  background-color: rgb(243, 214, 170);
}
td{
  background-color: rgb(250, 243, 151);
  
}
.container{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}




 